body{
  background: #;
  font-size: 20pts;
}
h1 {
  color: black;
  background-color: yellow;
  font-size:20pts;
  text-transform: capitalize;
  font-style:italic;
  font-family: sans-serif;
}
h2 {
  color: red;
  font-size: 18pt;
  font-family: sans-serif;
}
p{
  font-size: 10pt;
}
